body {
    color: white;
    text-align: center;
    font-family: "Times New Roman", serif;
    margin-top: 100px;
    background-image: url(space3.png);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;   
    text-align: center;
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
    overflow-y: hidden;
}

/* header */.header {
    position: relative; 
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #000;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.container-1 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
}
.nav-list {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
}
.nav-list a {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Exo 2', sans-serif !important;
    text-transform: uppercase;
    padding: 15px 10px;
    letter-spacing: 2px;
    position: relative;
    transition: color 0.2s ease;
}
.nav-list a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 3px;
    background-color: #ff4655;
    transition: width 0.3s ease;
    border-radius: 5px;
}
.nav-list a:hover::after, .nav-list a:active::after {
    width: 100%;
    background-color: #ff4655;
}
.nav-list a:hover, #nav-active:hover{
    color: #ff4651;
}
.nav-list a:active, #nav-active:active{
    color: #ffffff;
}
#nav-active {
    text-decoration: none;
    color: #e73737;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Exo 2', sans-serif !important;
    text-transform: uppercase;
    padding: 15px 10px;
    letter-spacing: 2px;
    position: relative;
    transition: color 0.2s ease;
}
.actions {
    display: flex;
    right: 20px;
    align-items: center;
    gap: 10px;
}
.btn {
    text-decoration: none;
    background-color: #000000;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Exo 2', sans-serif !important;
    text-transform: uppercase;
    transition: all 0.3s ease;
}
.btn:hover, .btn:active {
    background-color: #262626;
    border-radius: 9px;
    color: #ff4655;
    cursor: pointer;
}

/* Section */
h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
}
p {
    font-size: 1.5rem;
    font-weight: normal;
    margin-bottom: 30px;
}
.board {
    display: grid;
    grid-template-columns: 200px 200px;
    gap: 10px;
    justify-content: center;
    margin-top: 50px;
}
.panel {
    width: 200px;
    height: 200px;
    cursor: pointer;
    transition: opacity 0.2s;
}
.yellow { background-color: yellow; border-top-left-radius: 100%; }
.green { background-color: green; border-top-right-radius: 100%; }
.blue { background-color: blue; border-bottom-left-radius: 100%; }
.red { background-color: red; border-bottom-right-radius: 100%; }
.panel:active {
    opacity: 0.5;
}
.center {
    margin-top: 20px;
}
button {
    font-size: 25px;
    padding: 10px 20px;
    margin-top: 50px;
    background-color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
button:hover {
    background-color: rgb(239, 243, 223);
}
#timer {
    position: absolute;
    top: 80px;
    right: 30px;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    background: rgba(0, 0, 0, 0.6);
    padding: 10px 20px;
    border-radius: 10px;
}

/* Footer */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 150px;
    margin-top: 20px;
    padding-top: 10px;
}
.footer-info {
    text-align: center;
    align-items: center;
}
footer a {
    color: white; 
    text-decoration: none;
}
.footer a:hover {
    text-decoration: underline;
    color: #ff6d79;
}