body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    color: white;
    background-repeat: no-repeat;
    background-attachment: fixed;   
    text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.7);
    font-family: "Times New Roman", serif;
    text-align: center;
    background-image: url(space2.png);
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
    overflow-y: hidden;
}

/* Header */
.header {
    position: relative; 
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #000;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.container-1 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
}
.nav-list {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
}
.nav-list a {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Exo 2', sans-serif !important;
    text-transform: uppercase;
    padding: 15px 10px;
    letter-spacing: 2px;
    position: relative;
    transition: color 0.2s ease;
}
.nav-list a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 3px;
    background-color: #ff4655;
    transition: width 0.3s ease;
    border-radius: 5px;
}
.nav-list a:hover::after, .nav-list a:active::after {
    width: 100%;
    background-color: #ff4655;
}
.nav-list a:hover, #nav-active:hover {
    color: #ff4651;
}
.nav-list a:active, #nav-active:active {
    color: #ffffff;
}
#nav-active {
    text-decoration: none;
    color: #e73737;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Exo 2', sans-serif !important;
    text-transform: uppercase;
    padding: 15px 10px;
    letter-spacing: 2px;
    position: relative;
    transition: color 0.2s ease;
}
.actions {
    display: flex;
    right: 20px;
    align-items: center;
    gap: 10px;
}

/* Section */
.login-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 350px;
    margin-top: 20px;
    font-size: 1.3rem;
    color: black;
}
.login-container h2 {
    margin-bottom: 20px;
}
.login-container input {
    width: 250px;
    padding: 10px;
    font-size: 1.3rem;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.login-container button {
    width: 250px;
    padding: 10px;
    background: #131313;
    border: none;
    color: white;
    border-radius: 5px;
    font-size: 1.3rem;
    margin-top: 10px;
}
.login-container button:hover {
    background: #707478;
}
.greeting {
    margin-top: 70px; 
    padding: 20px;
    border-radius: 10px;
    font-size: 1.5rem;
}
.button-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
    visibility: hidden;
}
.button {
    font-size: 1.3rem;
    margin-top: 20px;
    width: 100px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    background-color: white;
    padding: 10px 10px;
    border-radius: 30px;
    border: 2px solid black;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}
.button:hover {
    transform: scale(1.1);
}

/* Footer */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 150px;
    margin-top: 20px;
    padding-top: 10px;
}
.p-footer {
    font-size: 1.5rem;
    font-weight: normal;
    margin-bottom: 30px;
}
.footer-info {
    text-align: center;
    align-items: center;
}
footer a {
    color: white; 
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: normal;
    margin-bottom: 30px;
}
.footer a:hover {
    text-decoration: underline;
    color: #e9ebfd;
}